<a href="/comment/{{id}}">
<div class = "mb-10 mt-5 group">
    <h4 class =  'bg-zinc-900 text-sky-400 group-hover:text-white font-light text-sm italic px-5 pt-2'>written by {{User.username}}</h3>
    <div>
        <p class = 'bg-zinc-900 text-xl font-thin tracking-wider px-5 py-3 leading-8 text-gray-200 group-hover:text-sky-400'>{{comment_body}}</p>
        {{#if ownerLoggedIn}}
        <a href="/post/{{id}}">
            <button id="" class='delete-post-button text-white hover:text-sky-400  text-xl font-bold px-5 pt-3 py-2 tracking-wider'>Post ></button>
        </a>   
        {{/if}} 
    </div>
    <div class="">
        <h4 class = 'bg-zinc-900 text-sky-600 font-light text-sm italic px-5 py-2'>Created {{createdAt}}</h4>
    </div>
    <div class="max-w-prose items-center max-h-fit justify-between">
</div>
</div>
</a>
